<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Microframework Flask</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div>
			<h1>Práctica 2: Microframework Flask</h1>
			<h2>Ejercicio 2: Ordenación de Matrices</h2>
			<p>Uso: http://localhost:5000/ordena/&lt;matriz&gt;
				<a href="ordena/4,31,24,12,8">Ejercicio 2</a>
			</p>
			<h2>Ejercicio 3: Criba de Eratóstenes</h2>
			<p>Uso: http://localhost:5000/criba/&lt;num&gt;
				<a href="criba/100">Ejercicio 3</a>
			</p>
			<h2>Ejercicio 4: Sucesión de Fibonacci</h2>
			<p>Uso: http://localhost:5000/fibonacci/&lt;num&gt;
				<a href="fibonacci/8">Ejercicio 4</a>
			</p>
			<h2>Ejercicio 5: Secuencia balanceada</h2>
			<p>Uso: http://localhost:5000/balanceo/&lt;cadena&gt;
				<a href="balanceo/[][][][][]">Ejercicio 5</a>
			</p>
			<h2>Ejercicio 6: Expresiones regulares</h2>
			<h3>Identificar cualquier palabra seguida de un espacio y una única letra mayúscula</h3>
			<p>Uso: http://localhost:5000/expresiones_regulares/palabraEspMayus/&lt;cadena&gt;
				<a href="expresiones_regulares/palabraEspMayus/Apellido N">Ejercicio 6a</a>
			</p>
			<h3>Identificar correoselectrónios válidos</h3>
			<p>Uso: http://localhost:5000/expresiones_regulares/correo/&lt;cadena&gt;
				<a href="expresiones_regulares/correo/usuario@correo.ugr.es">Ejercicio 6b</a>
			</p>
			<h3>Identificar números de tarjeta de crédito</h3>
			<p>Uso: http://localhost:5000/expresiones_regulares/tarjeta/&lt;cadena&gt;
				<a href="expresiones_regulares/tarjeta/1234-1234-1234-1234">Ejercicio 6c</a>
			</p>
			<h2>Página de Error</h2>
			<p>Página para el caso en que la URL no esté definida
				<a href="asdf">404, not found</a>
			</p>
		</div>
	</body>
</html>