{% extends "base.html" %}
{% block title %}New{% endblock %}

{% block html_head %}
{% endblock %}

{% block content %}
<div id=modify class="text-center">
	<form class="form-modify" method=post>
		<h1 class="h3 my-5 font-weight-normal">New Episode</h1>


		<div class="form-group row mr-3">
			<label for="inputNombre" class="col-sm-2 col-form-label">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name=nombre value="{{ episodio['name'] }}" placeholder="Name" required autofocus>
			</div>
		</div>

		<div class="form-group row mr-3">
			<label for="inputSeason" class="col-sm-2 col-form-label">Season</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" name=season value="{{ episodio['season'] }}" placeholder="Season" required autofocus>
			</div>
		</div>
		
		<div class="form-group row mr-3">
			<label for="inputSeason" class="col-sm-2 col-form-label">Number</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" name=numberEp value="{{ episodio['number'] }}" placeholder="Number" required autofocus>
			</div>
		</div>

		<div class="form-group row mr-3">
			<label for="inputNombre" class="col-sm-2 col-form-label">Airdate</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name=airdate value="{{ episodio['airdate'] }}" placeholder="Airdate">
			</div>
		</div>

		<div class="form-group row mr-3">
			<label for="inputNombre" class="col-sm-2 col-form-label">Airtime</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name=airtime value="{{ episodio['airtime'] }}" placeholder="Airtime">
			</div>
		</div>

		<div class="form-group row mr-3">
			<label for="inputNombre" class="col-sm-2 col-form-label">Airstamp</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name=airstamp value="{{ episodio['airstamp'] }}" placeholder="Airstamp">
			</div>
		</div>

		<div class="form-group row mr-3">
			<label for="inputSeason" class="col-sm-2 col-form-label">Runtime</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" name=runtime value="{{ episodio['runtime'] }}" placeholder="Runtime">
			</div>
		</div>

		<input type="hidden" name="id_ep" value="{{ episodio['_id'] }}">

		<button class="btn btn-lg btn-primary mt-2" type="submit">Update</button>
		{% if error %}
		<div class="alert alert-danger text-center mt-2">
			<strong>Error!</strong> {{ error }}.
		</div>
		{% endif %}
	</form>
</div>
{% endblock %}