{% extends "base.html" %}
{% block title %}Añadir Prestamo{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5">
<h2>Añade un nuevo prestamo</h2>
<form method="POST">
	{% csrf_token %}
	<div class="form-row">
		<div class="form-group col-md-6 mb-0">
			{{ form.libro|as_crispy_field }}
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-6 mb-0">
			{{ form.fecha|as_crispy_field }}
		</div>
	</div>

	{% if staff %}
	<div class="form-row">
		<div class="form-group col-md-6 mb-0">
			{{ form.usuario|as_crispy_field }}
		</div>
	</div>
	{% endif %}

	<button class="btn btn-lg btn-primary mt-2" type="submit">Save</button>
</form>
</div>
{% endblock %}