{% extends "base.html" %}
{% block title %}Autores{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}

<nav class="navbar navbar-light bg-light justify-content-between">
	<form>
		<a class="btn btn-success my-2 my-sm-0" role="button" href="{% url 'addAutor' %}">New</a>
	</form>
</nav>

<div class="table-responsive" style="height: 500px;">
	<table id="table" class="table table-bordered table-hover table-sm">
		<thead id="table-header" class="thead-light">
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Apellidos</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% load static %}
			{% for autor in autores %}
			<tr>
				<td>{{autor.nombre}}</td>
				<td>{{autor.apellidos}}</td>
				<td>
					<form action="{% url 'modificarAutor' %}" method="post">
						{% csrf_token %}
						<button type="submit" class="btn btn-warning m-1">
							<input type="hidden" name="pk_autor" value="{{ autor.pk }}">
							<img src="{% static 'images/modify.png' %}" width="33" height="33" alt="Modify" loading="lazy"
								title="Modify">
						</button></form>
					<form action="{% url 'eliminarAutor' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="pk_autor" value="{{ autor.pk }}">
						<button type="submit" class="btn btn-danger m-1">
							<img src="{% static 'images/delete.png' %}" width="33" height="33" alt="Delete" loading="lazy"
								title="Delete">
						</button></form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}